   
   	   .navi li{ 
	   padding-top:40px;
	   line-height:30px;
	   -moz-transform: rotate(-60deg);
       -webkit-transform: rotate(-60deg);
       transform: rotate(-90deg);
	   }
		 
		 .navi li a{
		 text-decoration:none;
		 color:gray;
		 }
		 .navi li a:hover{
		 color:lightgray;		 
		 }
	   
	  	   
	   .stybord{
	   border-radius:20px;
	   border:1px solid #707070;
	   padding-top:5px;
	   display:inline-block;
	   padding-left:10px;
	   padding-right:10px;
	   background: rgba(0,0,0,0.3);
	   max-width:100%;
	   max-height:auto;
	   }
	   
	  	   
	   .brd{
	   border-radius:20px;
	   border:1px solid gray;
	   width:70px;
	   height:73px;
	   color:rgb(250, 240, 255);
	   text-align:center;
       font-size:13px;
	   background: rgba(0,0,0,0.3);
       margin:10px;	   
	   }

	   
		   .styd1c1{
		     padding-top:50px;
		     display:flex;
		     max-width:100%;
		     height:auto;
		     position:relative;
			 justify-content:center;			 
		    }

		   
		   .styd1c2{
		       border:3px solid #707070;			   
			   border-top-right-radius:15px;
			   border-top-left-radius: 15px;
			   position:relative;right:-4%;
			   left:-3%;max-width:100%;
			   max-height:auto;
			   padding-top:15px;
			   background: rgba(0,0,0,0.5);
		   }

		   .navcarte li{
		   opacity:0.5;
           list-style:none;
		   }
		   
		   .navcarte li a{
		   text-decoration:none;
		   }		   
		   .navcarte li:last-child{
		   opacity:1;
		   }
		   .frmtxt{
		   font-size:7pt;
		   line-height:10px;
		   padding-top:2px;
                   color:white;		   
		   }
		   
		   
		   
		   
